<%= render partial: "shared/heading", locals: { title: 'Write an Update', tagline: 'Share the latest news from your company.' } %>

<div class="max-w-3xl mx-auto">
  <%= form_for @stakeholder_update do |form| %>
    <div class="field">
      <%= form.rich_text_area :content %>
    </div>
  
    <div class="text-right">
      <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent bg-primary py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-primary-hover-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Share</button>
    </div>
  <% end %>
</div>

